<h2>Search Authors</h2>
<form action="/authors" method="get">
    <input type="text" name="name" value="<% if(locals.searchOption != null ) { %><%= searchOption.name %><% } %>" placeholder="Search Author">
    <button>Search</button>
</form>
<hr>
<% if(locals.authors != null) { %>
    <% authors.forEach( author => { %>
        <li> <a href="/authors/<%= author.id%>"><%= author.name %></a>
            <a class="button" href="/authors/<%= author.id%>/edit">Edit</a>
            <%- include('../partials/deleteForm', {url: `/authors/${author.id}` }) %>
        </li>
    <% }) %>
<% } else { %>    
    No authors found
<% } %>